@model List<nguyenthanhtam_2122110440.Models.UserOrderModel>

@{
    ViewBag.Title = "Orders";
}

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg-gray">
    <div class="container">
        <h2 class="title-page">My account</h2>
    </div> <!-- container // -->
</section>
<!-- ========================= SECTION PAGETOP END// ========================= -->
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <main class="col-md-12">
                    <article class="card mb-4">
                        <header class="card-header">
                            <a href="#" class="float-right">
                                <i class="fa fa-print"></i> Print
                            </a>
                            <strong class="d-inline-block mr-3">Order ID: @item.Order.Id</strong>
                            <span>Order Date: @item.Order.CreatedDate.ToString("MM/dd/yyyy")</span>
                        </header>

                        @foreach (var detail in item.OrderDetail)
                        {
                            var product = item.lstProduct.FirstOrDefault(p => p.Id == detail.ProductId);
                            if (product != null)
                            {
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <h6 class="text-muted">Delivery to</h6>
                                            <p>
                                                @Session["FullName"] <br>
                                                Location: Home number, Building name, Street 123, <br>
                                                P.O. Box: 100123
                                            </p>
                                        </div>
                                        <div class="col-md-4">
                                            <h6 class="text-muted">Payment</h6>
                                            <span class="text-success">
                                                <i class="fab fa-lg fa-cc-visa"></i>
                                                Visa **** 4216
                                            </span>
                                            <p>
                                                @*Subtotal: $@item.Order.Subtotal <br>
                                                    Shipping fee: $@item.Order.ShippingFee <br>
                                                    <span class="b">Total: $@item.Order.Total</span>*@
                                            </p>
                                        </div>
                                    </div> <!-- row.// -->
                                </div> <!-- card-body .// -->

                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tbody>
                                            <tr>
                                                <td width="65">
                                                    <img src="~/Content/images/product/@product.Avatar" class="img-xs border">
                                                </td>
                                                <td>
                                                    <p class="title mb-0">@product.Name</p>
                                                    <var class="price text-muted">USD @product.Price</var>
                                                </td>

                                                <td width="250">
                                                    <a href="#" class="btn btn-outline-primary">Track order</a>
                                                    <div class="dropdown d-inline-block">
                                                        <a href="#" data-toggle="dropdown" class="dropdown-toggle btn btn-outline-secondary">More</a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a href="#" class="dropdown-item">Return</a>
                                                            <a href="#" class="dropdown-item">Cancel order</a>
                                                        </div>
                                                    </div> <!-- dropdown.// -->
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div> <!-- table-responsive .end// -->
                            }
                        }
                    </article> <!-- card order-item .// -->
                </main> <!-- col.// -->
            }
        </div> <!-- row -->
    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
